{% extends 'base.html' %}

{% block body %}

<section id="banner" class="banner">
    <div class="container">
        <div class="row">
            <div class="main_banner_area text-center">
                <div class="col-md-5 col-sm-5 col-md-offset-7 col-sm-offset-7">
                    <div class="single_banner_text wow zoomIn" data-wow-duration="1s">
                        <p>Veggies es bonus vobis, proinde vos postulo essum.</p>
                        
                        <div class="separetor"></div>
                    </div>
                </div>
                
                
                <div class="scrolldown">
                    <a href="#special" class="scroll_btn"></a>
                </div>
            </div>






            <footer id="footer" class="footer">
		<div class="container">
			<div class="row">
				
				<div class="col-sm-5 col-sm-offset-7 col-xs-10 col-xs-offset-2">
					<div class="contact_area wow slideInLeft" data-wow-duration="2s">
						<div class="head_title text-center">
							<h2>Reserve a Table</h2>
							<div class="separetor"></div>
						</div>
						
						<div class="main_contact_content">
							<div class="row">
								<div class="col-sm-6">
									<div class="single_contact text-left">
										<h5>Veggie </h5>
										<span>3428 Magnolia Avenue</span> 
										<span>Hackettstown, NJ 07840</span>
									</div>
								</div>
								
								<div class="col-sm-6">
									<div class="single_contact text-left">
										<h5>Contact us</h5>
										<span>reservations@vegggie.com</span> 
										<span>+48 202-555-0114</span>
									</div>
								</div>
							</div>
							
							<div class="contact_form_area">
								<h3>Reservation Form</h3>
                                {% comment %}
								<form action="#" id="formid">
									<div class="row">
										<div class="col-sm-6 col-xs-6">
											<div class="form-group">
												<input type="text" class="form-control" name="name" placeholder="name">
											</div>
										</div>

										<div class="col-sm-6 col-xs-6">
											<div class="form-group">
												<input type="email" class="form-control" name="email" placeholder="Email">
											</div>
										</div>

                                        <div class="col-sm-6 col-xs-6">
                                            <div class="form-group">
                                                <input type="tel" class="form-control" name="phone" placeholder="phone">
                                            </div>
                                        </div>

                                        <div class="col-sm-6 col-xs-6">
                                            <div class="form-group">
                                                <input type="number" class="form-control" name="number of persons" placeholder="number of persons">
                                            </div>
                                        </div>

                                        <div class="col-sm-6 col-xs-6">
                                            <div class="form-group">
                                                <input type="date" class="form-control" name="date" placeholder="date">
                                            </div>
                                        </div>

                                        <div class="col-sm-6 col-xs-6">
                                            <div class="form-group">
                                                <input type="time" class="form-control" name="time" placeholder="time">
                                            </div>
                                        </div>
									</div>
                                
                                {% endcomment %}
                                
                                <form action="" method="POST">

                                    {% csrf_token %}
                                    {{form}}

                                    <button type="submit" class = "form_btn_area text-center">Submit</button>


                                </form>
									</div>
								</form>	
							</div>
							
						</div>
						
					</div>
				</div>
			</div>
			
			
			<div class="row">
				<div class="copyright_text_area">
					<div class="col-md-6 col-sm-6 col-xs-12">
						<div class="single_footer text-right wow zoomIn" data-wow-duration="2s">
							<p>Made with <i class="fa fa-heart"></i> by <a href="http://bootstrapthemes.co">Bootstrap Themes</a>2016. All Rights Reserved</p>
						</div>
					</div>
					<div class="col-md-6 col-sm-6 col-xs-12">
						<div class="single_footer text-right">
							
							<div class="footer_socail wow zoomIn" data-wow-duration="1.5s">
								<a href=""><i class="fa fa-facebook"></i></a>
								<a href=""><i class="fa fa-linkedin"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>






    {% endblock body %}

